global-include *.py
global-include *.txt
global-include *.pdf
global-include *.ps
global-include *.c
global-include Makefile
global-include makefile*
global-include *.v
global-include *.vhd
prune .hg
prune dist
prune doc
prune olddoc
prune myhdl2/old_conversion
prune myhdl2/*/work
prune myhdl2/*/*/work
prune myhdl2/*/*/*/work
prune myhdl2/*/work_vlog
prune myhdl2/*/*/work_vlog
prune myhdl2/*/*/*/work_vlog
prune myhdl2/*/work_vcom
prune myhdl2/*/*/work_vcom
prune myhdl2/*/*/*/work_vcom
graft doc/build/html
#include doc/paper-a4/MyHDL.pdf
#include doc/paper-letter/MyHDL.pdf
prune myhdl2/experiments
exclude myhdl2/test/conversion/*/*.v
exclude myhdl2/test/conversion/*/*.vhd
